<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="flex-container">
                <div style="flex-grow: 3">
                    <a class="black-link", href="/">RF Doc Server<img class="logo" src=" {{ url_for('static', filename='logo-32px.png') }}", style="padding-left: 5px;"></a>
                </div>
                <div class="search-bar flex-container", style="flex-grow: 7">
                    <div style="flex-grow: 9;">
                    <form action="/search" method="POST">
                        <input class="search_input", type="text", name="search_input", placeholder="Search..", value="{{ rf_doc_server.search_field_content }}">
                        <input class="search_button", type="image", src="{{ url_for('static', filename='search_icon.png') }}", width=20, height="20">
                    </form>
                    </div>
                    <div style="flex-grow: 1;">
                        <div class="tooltip">
                            <a class="force_reload",  href="/reload"><img class="logo" src=" {{ url_for('static', filename='reload_32px.png') }}", style="padding-left: 5px;"></a>
                            <span class="tooltiptext">Force reload index</span>
                        </div>
                    </div>
                </div>
                <div class="links", style="flex-grow: 1;">
                    <a class="black-link", href="https://github.com/juha-ylikoski/rfdocserver">View on github<img class="logo" src=" {{ url_for('static', filename='GitHub-Mark-32px.png') }}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="sidebar", style="z-index: 1">
            <h1>File index</h1>
            
            {% for file in file_index %}
            <button class="collapsible"><a class="black-link blue-hover", href="/page?file={{file}}#{{keyword}}">{{file}}</a></button>
            <div class="panel">
                {% for keyword in rf_doc_server.get_keyword_names(file) %}
                <p><a class="black-link blue-hover", href="/page?file={{file}}#{{keyword.replace(' ', '%20')}}">{{keyword}}</a></p>
                {% endfor %}
              </div>
            {% endfor %}
            
            <script type="text/javascript">
            var acc = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              });
            }
            </script>
        </div>
        <div class="content-window">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="rf-doc-footer">
        This page was generated by <a class="black-link", href="https://github.com/juha-ylikoski/rfdocserver">RF Doc Server version {{get_version()}}</a> on {{get_date()}}
    </div>
</body>
</html>