{% extends 'base.html' %}


{% block head %}

{% endblock %}}

{% block body %}
<table class="search-table">
    <tr>
        <th>Keyword</th>
        <th>Arguments</th>
        <th>Tags</th>
        <th>Documentation</th>
    </tr>
    {% for result in search_results %}
    <tr>
        <td class="name"><a style="color: blue;" href="/page?file={{result.rf_hub_name}}#{{result.name.replace(' ', '%20')}}">{{result.name}}</a></td>
        <td class="args">{{",\n".join(result.args)}}</td>
        <td class="tags">{{",\n".join(result.tags)}}</td>
        <td class="doc">{{result.doc}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}