body {
    background: white;
    color: black;
    font-size: small;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
}

a {
    text-decoration: none;
    color: #444444;
}

img {
    border: none;
}

.header {
    /* position: absolute;
    top: 0; 
    left: 0; 
    right: 0;  */
    height: 70px; 
    width: 100%;
    background-color: lightgray;
}
.navbar {
    border-bottom: 1px solid lightgray;
}
.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container > div {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    top: 50%;
}

.search_input {
    height: 70%;
    width: 70%;
    min-width: 70%;
}

.search_button {
    top: 50%;
}

.search-table {
    border-collapse: collapse;
}
  
.search-table table {
    border: 1px solid black;
}
.search-table td {
    border: 1px solid black;
}
.search-table th {
    border: 1px solid black;
}

.name {
    width: 30%;
}
.args {
    width: 10%;
}
.tags {
    width: 10%;
}

.doc {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: row;
}
.sidebar {
    /* position: absolute; */
    top: 0; 
    left: 0; 
    width: 20%; 
    overflow-y: auto;
    max-height: 100%;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible:after {
    content: '\002B';
    color: #ccc;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }  
.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-window {
    top: 0; 
    left: 20%; 
    right: 0; 
    width: 80%;
    overflow: visible;
    padding: 3em;
}

.robot-documentation {
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    bottom: 0; 
}

.rf-doc-footer {
    margin-top: auto;
    padding: 1em;
    /* bottom: 0; */
    width: 100%;
    background-color: lightgray;
}

.grid-table {
    padding-bottom: 2em;
}

.grid-table a {
    color: blue;
}

.black-link {
    color: black !important;
    text-decoration: none !important;
}

.black-link:hover {
    text-decoration: none !important;
}

.blue-hover:hover {
    color: blue !important;
    text-decoration: none !important;
}

.logo {
    border: none !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 10em;
    font-size: 12px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    /* content: ""; */
    position: absolute;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
