body {
    margin: 0;
    font-family: sans-serif;
    color: red;
}

.header {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    height: 100px; 
    background-color: lime;
}
.content {
    position: absolute; 
    top: 100px; 
    left: 0; 
    right: 0; 
    width: 100%; 
    bottom: 0; 
}
.sidebar {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 20%; 
    bottom: 0; 
    background-color: lightsteelblue;
    overflow: auto;
}
.side-bar iframe {
    display: block; 
    width: 100%; 
    height: 100%; 
    border: none;
}

.content-window {
    position: absolute; 
    top: 0; 
    left: 20%; 
    right: 0; 
    width: 80%; 
    bottom: 0; 
}

.robot-documentation {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    bottom: 0; 
    background-color: blue 
}
.robot-documentation iframe {
    display: block; 
    width: 100%; 
    height: 100%; 
    border: none;
}
